Repository 47degrees/fetch, pull requests merged in 2020-04, with the labels that each got.

#263 Update sbt to 1.3.9
  project/build.properties
Labels: auto-update

#264 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#265 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#266 Update actions, documentation templates and configuration files to v0.3.2
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#267 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#268 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#270 Update sbt-scalafmt to 2.3.3
  project/plugins.sbt
Labels: auto-update

#271 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#272 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#273 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#274 Update sbt-scalafmt to 2.3.4
  project/plugins.sbt
Labels: auto-update

#275 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#276 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#278 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#279 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#283 Update sbt-ci-release to 1.5.3
  project/plugins.sbt
Labels: scala-steward
